<div class="container-fluid">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link" type="button" [routerLink]="[ 'category' ]"
                routerLinkActive="active">Category</button>
            <button class="nav-link" type="button" [routerLink]="[ 'product' ]"
                routerLinkActive="active">Product</button>
            <button class="nav-link" type="button" [routerLink]="[ 'discount' ]"
                routerLinkActive="active">Discount</button>
            <button class="nav-link" type="button" [routerLink]="[ 'news' ]" routerLinkActive="active">News</button>
            <button class="nav-link" type="button" [routerLink]="[ 'order' ]" routerLinkActive="active">Order</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
        </div>
    </div>
</div>